@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Josefin+Sans:wght@400;700&family=Manrope:wght@600;800&family=Poppins:ital@1&family=Red+Hat+Text:wght@700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	font-size: inherit;
	font-family: "Josefin Sans", sans-serif;
}

input {
	color: black;
	width: 100%;
	font: inherit;
	outline: none;
	border: none;
	padding-block: 1.2rem;
	background-color: transparent;
}

img,
svg {
	display: block;
	width: auto;
	height: auto;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: start;
	background-color: var(--Very-Light-Gray);
}

:root {
	/* ### Primary */

	--Bright-Blue: hsl(220, 98%, 61%);
	--Check-Background: linear-gradient hsl(192, 100%, 67%), hsl(280, 87%, 65%);

	/* ### Neutral */

	/* ### Light Theme */

	--Very-Light-Gray: hsl(0, 0%, 98%);
	--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
	--Light-Grayish-Blue: hsl(233, 11%, 84%);
	--Dark-light-Grayish-Blue: hsl(236, 9%, 61%);
	--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

	/* ### Dark Theme */

	--Very-Dark-Blue: hsl(235, 21%, 11%);
	--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
	--Dark-Grayish-Blue: hsl(234, 11%, 52%);
	--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
	--Very-very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

.background {
	position: absolute;
	min-height: 25%;
	max-height: 25%;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

main {
	display: grid;
	border: 1px solid red;
	width: 90%;
	margin-top: 5rem;
	position: relative;
}

/* HEADER */

header {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--Very-Light-Gray);
	letter-spacing: 0.5rem;
}

.theme-icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

/* Create ToDo Section */

.create-input {
	gap: 1rem;
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	padding-inline: 1rem;
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.box {
	gap: 0.7rem;
	display: flex;
	align-items: center;
	padding: 1.2rem 1rem;
	transition: 150ms;
	background-color: white;
	box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.box.selected {
	border: 1px solid yellow;
}

.box.remove {
	opacity: 0;
	transform: translateX(100%);
}

/* List Container */

.todo-container {
	border-radius: 0.4rem;
	overflow: hidden;
}

.todo-list {
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	overflow: hidden;
	padding-bottom: 1px;
	display: grid;
	gap: 1px;
}

.line-mark {
	position: absolute;
	width: 0%;
	opacity: 0;
	height: 1px;
	transform: translateY(-50%);
	bottom: 50%;
	transition: width 200ms;
	background-color: rgba(128, 128, 128, 0.95);
}

.todo-name {
	position: relative;
	font-size: 0.9rem;
}

.box.active {
	color: rgba(128, 128, 128, 0.95);
}

.box.active .line-mark {
	opacity: 1;
	width: 100%;
}

.box.active .check-icon {
	opacity: 1;
}

.remove-icon {
	margin-left: auto;
	cursor: pointer;
}

.checkbox {
	background-color: inherit;
	overflow: hidden;
	display: grid;
	place-items: center;
	cursor: pointer;
	border: 1px solid var(--Light-Grayish-Blue);
	width: 22px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.check-icon {
	opacity: 0;
	padding: 0.5rem;
	background: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	border-radius: 50%;
	transition: opacity 100ms;
}

/* ToDo-FOOTER */

.todo-footer {
	justify-content: space-between;
	border-bottom-right-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
	/* margin-top: 10px; */
}

.footer-toggles {
	border-radius: 0.4rem;
	position: absolute;
	bottom: -4.5rem;
	width: 100%;
	display: block;
	right: 0;
	background-color: inherit;
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding-block: 1rem;
}

.footer-toggles button {
	font-size: 700;
}

footer {
	position: absolute;
	bottom: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@media (min-width: 726px) {
	main {
		max-width: 600px;
	}
	.footer-toggles {
		position: static;
		display: flex;
		width: auto;
		padding-block: 0;
		gap: 1rem;
	}
}
